.calc-btns {
  display: grid;
  grid-template-columns: repeat(4, minmax(3.75rem, 6.25rem));
  grid-template-rows: repeat(5, 3.75rem);
  grid-template-areas:
    "num-7 num-8 num-9 del"
    "num-4 num-5 num-6 plus"
    "num-1 num-2 num-3 minus"
    "dec num-0 div mult"
    "reset reset equal equal";
  justify-content: center;
  gap: 1.5rem;
  padding-block: 2rem 2.25rem;
  padding-inline: 1.875rem;
  border-radius: 10px;
  background-color: var(--background-secondary);
}

@media screen and (max-width: 31em) {
  .calc-btns {
    gap: 0.8rem;
    padding-block: 1.5rem 1.75rem;
    padding-inline: 1.5rem;
  }
}

.calc-btns button:active {
  box-shadow: 0;
  translate: 0 4px;
}
